doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content="IE=edge")
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel="shortcut icon" href="images/favicon.ico" type="image/x-icon")
    link(rel="stylesheet" href="css/main-style.min.css")
    title Мои сервисы
  body
    #root
        include sections/profile-layout
    
        script(src="js/main.min.js")
