.aside {
    font-family: $ff-light;
    font-weight: 300;
    font-size: 14px;
    background: #f4f5f7; //flex-basis: 330px;
    width: 330px;
    flex-grow: 0;

    border-radius: 2px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.24);

    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;


    &_section {
        padding: 22px 0;
        border-top: 1px solid #e0e0e0;

        &:first-child {
            padding: 0px;
            border: none; //margin-bottom: 70px;
        }

        &:last-child {
            background-color: #e8ebf1;
            padding: 20px 0;
            padding-top: 25px;
            font-size: 11px;

            span {
                margin-right: 10px;
            }
        }

    }
    &_info {
        text-align: center;
        margin: 0;

        .photo {


            .main_photo {
                position: relative;

                img {
                    //max-width: 100%;
                }

            }

            a {
                .download {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    cursor: pointer;

                    img {
                        max-width: 100%;
                    }

                    @media (max-width: 768px) {
                        right: 28%;
                    }
                    @media (max-width: 420px) {
                        right: 8%;
                    }
                }
            }




        }


        .name {
            margin-top: 10px;
            font-size: 30px;
            font-family: $ff-light;
            font-weight: 300;

        }
        .id_number {
            margin-top: 10px;
            font-size: 16px;

        }
        .progress-bar {
            margin: 15px;
            border-radius: 2px;
            background: #ffc000;

        }

    }

    &_contacts {

        span {
            font-weight: bold;
            margin-right: 6px;
        }

        .tel {

            a {
                text-decoration: none;
                vertical-align: middle;
            }

            .social_icons {
                display: inline;
                margin-left: 38px;

                a {


                    img {
                        filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.24));
                        max-width: 22px;
                        vertical-align: middle;
                    }
                }
                .whatsapp {
                    img {
                        min-width: 28px;
                    }
                }
            }
        }
        .location {
            span {
                font-weight: normal;
            }
        }

    }

    &_referal {



        .all_referal,
        .your_referal {

            span {
                margin-right: 5px;
                a {
                    margin-left: 10px;
                }
            }

        }
        .all_referal {
            a {
                font-size: 12px;
            }
            .fa-info-circle {
                margin-left: 12px;
            }

        }

        .your_referal {
            .fa-info-circle {
                //margin-left: 0px;
            }
        }

    }

    i {
        width: 35px;
        padding: 8px 25px 10px; //font-weight: bold;
        font-size: 16px;
        display: inline-block;
    }

    .flex_data {
        display: flex; //justify-content: space-between;
        margin-top: 10px;

    }
    .flex_data i {
        width: 35px;
        padding: 0px 20px 6px 20px;
        margin-left: 6px;
        margin-right: 5px; //margin: auto 0;
    }


    // -------------------media
    @media (max-width: 768px) {
        flex-grow: 1;
        margin: 0 auto;

    }


}
