.footer {
    padding: 6px 20px 29px 36px;
    font-size: 11px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    .footer_wrap {
        display: flex;
        align-items: flex-start;
    }

    .copyright {

        p {
            margin: 0;
        }
        a {
            color: #0097a7;
        }
        .footer_email {
            margin-top: 6px;
        }
    }

    .links {
        margin: 0;
        display: flex;
        align-items: flex-start; //margin-right: 100px;
        @media (max-width: 560px) {
            display: none;
        }

        li {
            text-align: center;
            margin-right: 20px;

            a {

                &:hover {
                    color: #0097a7;
                }

                img {
                    padding-left: 15px;
                    max-width: 140px;

                }
            }
        }
        .visa,
        .liqpay {
            
            @media (max-width: 768px) {
                display: none;
        
        }
        }
    }

    .angle_up {
        padding: 15px;
	//margin-top: 10px;
        border-radius: 50%;
        background: #f4f5f7;
        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);

        img {
	    //margin-top: 15px;
	    width: 20px;
	    height: 20px;
            transform: rotate(-90deg);
	    vertical-align: middle;
	
        }
    }


    @media (max-width: 1245px) {
        font-size: 12px;
    }
    
    
}