.main {
    //flex: 10 1 730px;
    padding: 0 15px;

    .nav_main {
        font-family: $ff-light;
        font-weight: 300;
        font-size: 14px;
        border-bottom: 1px solid #d7d7d7;
        padding: 9px 0;
        margin-left: 0px; //max-width: 730px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: flex-start;

        .nav_links {
            //margin-right: 170px;
            a {
                padding: 8px;
                margin: 0 18px;
                text-decoration: none;

                @media (max-width: 1023px) {
                    display: block;
                }
            }
        }

        span {
            margin-right: 185px;

            @media (max-width: 1024px) {
                margin-right: 45px;
            }
        }
    }


    .table_blur {
        font-family: $ff-light;
        font-size: 14px;
        background: #fff;
        border-collapse: collapse;
        text-align: center;
        width: 100%;

        margin-top: 30px;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24);
    }

    .table_blur th {
        background: #e6e8ed;
        font-weight: 300;
        padding: 10px 35px;
        position: relative;
        height: 41px;

        &:nth-child(odd) {
            background-color: #f4f5f7;
        }

        @media (max-width: 1024px) {
            padding: 10px 5px;
        }
    }



    .table_blur tr:nth-child(odd) {
        background: #f4f5f7;
    }



    .table_blur td {
        //border: 1px solid #e3eef7;
        padding: 10px 35px;
        position: relative;
        height: 44px; //transition: all 0.5s ease;
        &:first-child {
            text-align: left;
        }
        &:last-child {
            text-align: left;
            padding-left: 34px;


        }

        img {
            max-width: 22px;
            margin-right: 12px;
            vertical-align: middle;

        }
        a {
            text-decoration: none;
            vertical-align: middle;
        }
        .crossing {
            svg {
                margin-bottom: 5px;
                margin-left: 10px;
            }

        }
    }




    .service_balans {
        font-family: $ff-light;
        margin-top: 0px;
        font-size: 18px;
        margin-left: 12px;

        border-bottom: 1px solid #d8d8d8;
        padding-bottom: 36px;

        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;

        &_recharge {
            display: flex;
            justify-content: space-around;
            align-items: flex-end;


            p {
                margin-bottom: 8px;
                margin-right: 10px;
                span {
                    color: #0097a7;
                }
            }
            .service_balans_input {
                display: flex;
                flex-flow: column wrap;
                justify-content: center;
                text-align: center;

                span {
                    font-size: 12px;
                    font-family: $ff-main;
                    opacity: 0.54;
                    margin-bottom: 4px;
                    margin-top: 11px;

                }

                input {
                    width: 150px;
                    height: 35px;
                    border-radius: 2px;
                    border: none;
                    background-color: #F4F5F7;
                    text-align: center;
                }
                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
            }
            a {
                font-size: 16px;
                text-decoration: none;
                vertical-align: middle;
                text-align: center;
                width: 197px; //height: 37px;
                padding: 10px;
                border-radius: 2px;
                box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.24);
                background-color: #f3f5f7;
            }
        }
        &_icons {
            display: flex;
            flex-flow: column wrap;
            padding-top: 16px;

            a {
                text-decoration: none;
                font-size: 12px;
                margin-top: 8px;



                svg {
                    max-width: 20px;
                    max-height: 20px;
                    margin-right: 15px;


                }
                span {}
            }
            .wallet {
                svg {
                    margin-top: 0px;
                    margin-bottom: -3px;
                }
            }
        }

        & div {
            margin-right: 10px; //margin-left: 13px;
        }
    }



    .transfer_money {

        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;
        padding-left: 13px;

        .title {
            font-size: 24px;
        }

        &_info {
            display: flex;
            flex-flow: row wrap;
            text-align: center;

            span {
                font-size: 12px;
                opacity: 0.54;
            }

            input {
                font-size: 16px;
                display: block;
                margin: 0;
                padding: 0px 15px;
                border: none;
                width: 93px;
                height: 34px;
                line-height: 34px;
                border-radius: 2px;
                background-color: #f3f5f7;
                margin-top: 4px;
                text-align: center;
            }
            .sum {
                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
            }

            .addressee {
                input {
                    width: 249px;
                    background-color: #FFC000;
                    text-align: center;
                }

            }

            a {
                align-self: flex-end;
                margin-bottom: 10px;
            }

            .sum {
                margin-right: 25px;
            }
            .id {
                margin-right: 8px;
            }
            .addressee {
                margin-right: 16px;
            }
        }

        .agreement {
            font-family: $ff-light;
            margin-top: 18px;
            margin-bottom: 25px; //-------------------------------- checkbox
            .container {
                display: block;
                position: relative;
                padding-left: 35px;
                cursor: pointer;
                font-size: 22px;
                user-select: none;
            }

            /* Hide the browser's default checkbox */
            .container input {
                position: absolute;
                opacity: 0;
            }

            /* Create a custom checkbox */
            .checkmark {
                position: absolute;
                top: 0;
                left: 0;
                height: 23px;
                width: 23px;
                background-color: #F4F5F7;
                border-radius: 2px;
                margin-top: 4px;
            }

            /* On mouse-over, add a grey background color */
            .container:hover input ~ .checkmark {
                //background-color: #ccc;
            }

            /* When the checkbox is checked, add a blue background */
            .container input:checked ~ .checkmark {
                //background-color: #ccc;
            }

            /* Create the checkmark/indicator (hidden when not checked) */
            .checkmark:after {
                content: "";
                position: absolute;
                display: none;
            }

            /* Show the checkmark when checked */
            .container input:checked ~ .checkmark:after {
                display: block;
            }

            /* Style the checkmark/indicator */
            .container .checkmark:after {
                left: 9px;
                top: 4px;
                width: 7px;
                height: 12px;
                border: solid #000;
                border-width: 0 3px 3px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }

            span {
                font-size: 14px; //margin-bottom: 20px;
                a {
                    color: #0097a7;

                }
            }

        }

        .transfer_go {


            font-family: $ff-light; //width: 197px;
            background-color: #FFC000;
            text-align: center;
            line-height: 37px;
            border-radius: 2px;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.24);

            a {
                text-decoration: none;
                padding: 9px 33px;
                padding-right: 11px;


                img {
                    vertical-align: middle;
                    margin-left: 11px;
                }
            }

        }
    }






    .nav_main_active {
        border: 1px solid #d7d7d7; //border-bottom: none;
    }




    @media (max-width: 1024px) {
        padding: 10px;
    }


}