.nav {
    font-family: $ff-light;
    font-weight: 300;
    font-size: 14px;
    
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 0 26px;
    
    a {
        padding: 0px 20px;
        margin: 0 10px;
        border-radius: 2px;
        box-shadow: 0px 1px 1px rgba(0,0,0,0.24);
        background-color: #f4f5f7;
        text-decoration: none;
        line-height: 36px;
        height: 34px;
        text-align: center;
        
        @media (max-width: 592px) {
            text-align: left;
            margin: 5px 0;
            
    }
        
        
        
        &:hover {
            background: darken(#f3f5f7, 3%);
        }
        
        i {
            margin-right: 10px;
        }
    }
    
        @media (max-width: 592px) {
            flex-flow: column wrap;
            align-items: stretch;
            text-align: left;
            
    }
}
