body {
    font-family: $ff-main;
    color: rgba(0, 0, 0, .87);
    font-size: 1rem;
    line-height: 1.2;
}
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

ul,
ol {
    list-style-type: none;
}

.clearfix {

    &:after {
        content: '';
        display: table;
        clear: both;
    }
}
