body {
    //width: 100%;
    //max-width: 1600px;
    margin: 0 auto;

}

#root {

    @media (max-width: 561px) {
        width: 100%;
    }

}

a {
    color: rgba(0,0,0,.87);
}

::placeholder {
    font-size: 12px;
    font-family: $ff-light;
    //padding: 21px;
}

    


.fa-plus-circle,
.fa-info-circle {
    color: #555a5a;
}

.active_nav {
    background-color: #ffc000 !important;
}